<!DOCTYPE html>
<html lang="en">
<script></script>
<style>
    .productCard {
        width: 200px;
        height: 150px;
        box-shadow: 2px 2px 5px black;
    }
</style>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <!-- This is html comment  -->
    {% comment %} {{ product }} {% endcomment %}

    <h1>Products Page</h1>
    <hr />
    {% for p in product %}
    <div class="productCard">
        <h1>{{ p.name}}</h1>
        <h2>containts</h2>
        {{ p.desc }}
    </div>
    {% endfor %}
</body>

</html>