<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>

  </style>
  <link rel="stylesheet" href="/static/product/css/style.css">
</head>

<body>
  <!-- This is html comment  -->
  {% comment %} {{ product }} {% endcomment %}

  <h1>Products Page</h1>
  <img src="airtel.jpeg" alt="airtel">
  <hr />
  {% for p in product %}
  <div class="productCard">
    <h1>{{ p.name}}</h1>
    <h2>containts</h2>
    <h2>{{ p.quantity }}</h2>
    {{ p.desc }}
    <a href="delete?prodId={{p.id}}">
      <button type="button" class="btn btn-outline-secondary btn-sm">
        Delete
      </button></a>
  </div>
  {% endfor %}
  <script src="/static/product/main.js"></script>
</body>

</html>